<lasso-page/>
<!doctype html>
<html lang="en">
    <head>
        <lasso-head/>
    </head>
    <body>
        <div><meter-config/></div>
        <div><meter-channel/></div>
        <lasso-body/>
    </body>
</html>
